<ion-header>
    <ion-toolbar color="deep-purple">
        <ion-buttons slot="start" *ngIf="username">
            <ion-back-button [defaultHref]="defaultHref" slot="icon-only"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="11" offset="0.5">
                <ion-searchbar [(ngModel)]="searchTitle" (ionChange)="searching()"></ion-searchbar>
                <ion-item>
                    <ion-label>Select books category:</ion-label>
                    <ion-select [(ngModel)]="searchType" (ionChange)="searching()">
                        <ion-select-option value="">All</ion-select-option>
                        <ion-select-option *ngFor="let category of categories" [value]="category">
                            {{ category }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-list *ngIf="(books | async)?.length">
                    <ion-item button *ngFor="let book of (books | async)"
                              [routerLink]="detailsLink(book.id_book)">
                        <ion-label class="ion-text-wrap">
                            <h2><b>{{ book.title }}</b></h2>
                            {{ book.author }}
                        </ion-label>
                        <span slot="end">{{ book.category }}</span>
                        <ion-icon slot="end" name="book-outline"></ion-icon>
                    </ion-item>
                </ion-list>

                <ion-infinite-scroll threshold="5%" (ionInfinite)="loadData($event)">
                    <ion-infinite-scroll-content loading-spinner="crescent" loading-text="Loading more books...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>

                <ion-item lines="none" *ngIf="!(books | async)?.length" class="ion-align-items-center">
                    <span> No books find :( </span>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
